<footer>
    <div class="main__footer">
        <div>
            <div class="brand__footer">
                {{!-- <img src="../../public/logo.png" alt=""> --}}
                <h2>Esquema ApiRestful</h2>
            </div>
        </div>
        <div class="signature__footer">
            <p>Desarrollado por Valentín Romero</p>
            <p>Curso Backend 32080 - CoderHouse</p>
        </div>
    </div>
</footer>