<footer>
    <div class="main__footer">
        <div>
            <div class="brand__footer">
                <img src="../../public/favicon.ico" alt="">
                <h2>TU PILCHA UY</h2>
            </div>
            <p>La pasión se lleva en la piel</p>
        </div>
        <div class="signature__footer">
            <p>Desarrollado por Valentín Romero</p>
            <p>Curso Backend 32080 - CoderHouse</p>
        </div>
    </div>    
</footer>