<header>
  <div class="brand__container">
    <img src="../../public/logo.png" alt="Logo" />
    <a class="brand__title" href="/">TU PILCHA UY</a>
  </div>
  {{#if user}}
    <div class="data__user__container">
      <p>Bienvenid@ {{user.username}}!</p>
      <img
        src="../../public/usersImages/{{user.image}}"
        alt="{{user.username}}"
      />
      <a class="nav_salir" href="/logout" id="logout">Salir</a>
    </div>
  {{/if}}
</header>