<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="shortcut icon" href="../../public/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' type='text/css' href='../../public/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../public/index.js"></script>
    <title>Websockets</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>