{{> header}}
    <div class="products__container">
        <div class="login_header">
            <h2>Error en login!</h2>
        </div>
        <p class="redirect_label">Redireccionando a login...</p>
    </div>
    <script>
        setTimeout(() => window.location.href = '/signup', 2000)
    </script>
{{> footer}}