{{> header}}

<div class="products__container login">
    <h1>Login</h1>
    <form class="form_logout" method="post" action="/login">
        <input placeholder="Usuario" name="username" />
        <input placeholder="Contraseña" name="password" />
        <input type="submit" value="Ingresar" />
    </form>
    <a href="/signup">Ir a signup</a>
</div>

{{> footer}}