{{> header}}
    <p>Login</p>
    <div>
        <p></p>
        <button>Desloguear</button>
    </div>
    <form onsubmit="return login(event)">
        <input type="text" name="user" id="user" placeholder="Usuario" required/>
        <input type="password" name="password" id="password" placeholder="Contraseña" required/>
        <input type="submit" value="Enviar"/>
    </form>
{{> footer}}