<header>
    <p class="brand">Backend</p>
    <a class="header__nav" href="/api/products">Ver productos</a>
</header>
<h1>Agregar producto</h1>
{{#if message}}
    <p>{{message}}</p>
{{/if}}
<div class="products">
    <form action="/api/products/form" method="post">
        <input type="text" name="title" id="title" placeholder="Title">
        <input type="number" name="price" id="price" placeholder="Price">
        <input type="text" name="thumbnail" id="thumbnail" placeholder="Thumbnail">
        <input type="submit" value="Guardar">
    </form>
</div>
{{> footer}}