{{> header}}

<div class="products__container login">
    <h1>Registro</h1>
    <form class="form_logout" method="post" action="/signup">
        <input placeholder="Usuario" name="username" />
        <input placeholder="Contraseña" name="password" />
        <input type="submit" value="Registrarse" />
    </form>
    <a href="/login">Ir a login</a>
</div>

{{> footer}}