@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Rubik';
    overflow-y: scroll; 
}
header{
    width: 100%;
    padding: 5px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B2B40;
    color: #FFFFFF;
}
header .brand__container{
    display: flex;
}
header .brand__container img{
    margin-right: 10px;
    object-fit: contain;
}
header .brand__container .brand__title{
    font-family: Bebas Neue;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}
header .data__user__container{
    display: flex;
    align-items: center;
}
header .data__user__container p{
    margin-right: 10px;
}
header .data__user__container img{
    width: 35px;
    height: 35px;
    margin-right: 20px;
    border-radius: 50%;
}
header .data__user__container a{
    display: block;
    padding: 5px 25px;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid transparent;
}
header .data__user__container a:hover{
    border: 1px solid #CF0A0A;
    border-radius: 5px;
    background-color: #CF0A0A;
}
nav ul{
    width: 50%;
    margin: 0 auto;
    padding: 10px 0%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
nav ul li:not(:last-child){
    margin-right: 10px;
}
nav ul li img{
    margin-right: 10px;
}
nav ul li a{
    display: block;
    padding: 5px 25px;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid transparent;
}
nav ul li a:hover{
    color: #0B2B40;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 5px;
}
nav .nav_salir:hover{
    color: #FFFFFF;
    background-color: #CF0A0A;
    border-color: #CF0A0A;
    border-radius: 5px;
}
.main__container {
    margin: 50px 15%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    animation: fadeIn 3s;
}
.button--detail {
    color: #0B2B40;
    background-color: #FFFFFF;
    border: 1px solid #0B2B40;
}
.button--detail:hover {
    color: #FFFFFF;
    background-color: #0B2B40;
    cursor: pointer;
}
.button--change {
    color: #0B550E;
    background-color: #FFFFFF;
    border: 1px solid #0B550E;
}
.button--change:hover {
    color: #FFFFFF;
    background-color: #0B550E;
    cursor: pointer;
}
.button--delete {
    color: #CF0A0A;
    background-color: #fff;
    border: 1px solid #CF0A0A;
}
.button--delete:hover {
    color: #fff;
    background-color: #CF0A0A;
    cursor: pointer;
}
.main__container h2 {
    font-size: 2.5rem;
    font-family: 'Bebas Neue';
}
.main__container .button {
    margin-top: 10px;
    width: 100%;
    padding: 5px 15px;
    font-family: 'Rubik';
    font-size: 1rem;
    border-radius: 5px;
}
.main__container .product__form__container {
    width: 30%;
}
.main__container .product__form__container form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik';
}
.main__container .product__form__container form button {
    width: 100%;
}
.main__container .product__form__container form input[type=number], .main__container .product__form__container form [type=text] {
    margin-bottom: 10px;
    padding: 0px 5px;
    width: 100%;
    height: 30px;
    font-family: 'Rubik';
    font-size: 1rem;
    border: 1px solid #97A6A0;
    border-radius: 5px;
}
.main__container .product__form__container form .form__label {
    margin-bottom: 3px;
}
.main__container .catalog__container {
    width: 100%;
    margin-bottom: 100px;
}
.main__container .catalog__container .catalog__header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.main__container .catalog__container .catalog__header button {
    width: 20%;
}
.main__container .catalog__container .catalog__header .button--new--product {
    width: 20%;
    text-align: center;
    text-decoration: none;
}
.main__container .catalog__container .catalog__header form {
    display: flex;
    align-items: center;
}
.main__container .catalog__container .catalog__header form input[type=submit] {
    margin: 0;
}
.main__container .catalog__container .catalog__header form input[type=number] {
    margin-right: 10px;
    padding: 0px 5px;
    width: 100px;
    height: 30px;
    font-family: 'Rubik';
    font-size: 1rem;
    border: 1px solid #97A6A0;
    border-radius: 5px;
}
.main__container .catalog__container .catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    row-gap: 5%;
    column-gap: 3%;
}
.main__container .catalog__container .catalog .product {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid #97A6A0;
    border-radius: 5px;
    background-color: #F7F7F7;
}
.main__container .catalog__container .catalog .product:hover {
    box-shadow: 0px 0px 20px 0px;
}
.main__container .catalog__container .catalog .product img {
    height: 240px;
    width: 200px;
    object-fit: contain;
}
.main__container .catalog__container .catalog .product .product__name__container {
    width: 100%;
    margin-bottom: 10px;
    min-height: 45px;
    font-size: 1.2rem;
    text-align: left;
}
.main__container .catalog__container .catalog .product .product__price__container {
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    color: #808080;
}
.main__container .catalog__container .catalog .product .admin__controls__container {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.main__container .catalog__container .catalog .product .admin__controls__container .button {
    margin-top: 0px;
    width: 49%;
    text-align: center;
}
.products__message {
    font-size: 2.5rem;
    font-family: 'Bebas Neue';
}
.login__container {
    margin: 50px auto;
    padding: 15px;
    width: 480px;
    height: auto;
    border: 1px solid #97A6A0;
    border-radius: 5px;
    background-color: #F7F7F7;
}
.login__container h2{
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 2.2rem;
}
.login__container form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.login__container form input[type=checkbox]{
    margin-right: 97%;
}
.login__container form input[type=text], input[type=email], input[type=number], input[type=file], [type=checkbox]{
    margin: 5px 0px 10px;
    padding: 5px 10px;
    border: 1px solid #97A6A0;
    border-radius: 5px;
    font-size: 0.9rem;
    font-family: 'Rubik';
}
.login__container form input[type=submit]{
    margin-top: 10px;
    width: 100%;
    padding: 5px 15px;
    font-family: 'Rubik';
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
}
.login__container .anchor__login__button{
    display: block;
    margin-top: 5px;
    padding: 5px 15px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.product .add__button{
    margin-top: 5px;
    width: 100%;
    padding: 5px 0px;
    color: #0B2B40;
    border: 1px solid #0B2B40;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.product .add__button:hover{
    color: #FFFFFF;
    background-color: #0B2B40;
}
footer{
    margin-top: auto;
    padding: 15px 15%;
    width: 100%;
    color: #FFFFFF;
    background-color: #0B2B40;
}
footer h2{
    font-family: 'Bebas Neue';
    font-size: 2.5rem;
}
footer .main__footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
footer .main__footer .brand__footer{
    display: flex;
    margin-bottom: 5px;
}
footer .main__footer .social__footer{
    margin: 30px 0px;
    display: flex;
    justify-content: flex-end;
}
footer .main__footer .social__footer img{
    width: 25px;
    height: 25px;
}
footer .main__footer .social__footer img:not(:first-child){
    margin-left: 40px;
}
footer .main__footer .social__footer img:hover{
    fill: #0B2B40;
}
footer .signature__footer{
    margin-top: 15px;
    font-size: 0.8rem;
    text-align: center;
}
.cart__container{
    display: flex;
    flex-direction: column;
}
.cart__container .item__container{
    width: 100%;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #97A6A0;
    border-radius: 5px;
    font-size: 1.3rem;
}
.cart__container .item__container:not(:last-child){
    margin-bottom: 10px;
}
.cart__container .item__container:hover{
    box-shadow: 0px 0px 20px 0px;
}
.cart__container .item__container img{
    height: 96px;
    width: 80px;
    object-fit: contain;
}
.cart__container .item__container button{
    width: 20%;
    margin: 0px;
}
.cart__container .item__container .cart__item__price{
    color: #808080;
}
.cart__footer{
    height: auto;
    margin-top: 15px;
    padding: 5px 15px;
    display: flex;
    justify-content: flex-end;
}
.cart__footer .button--cart{
    width: 20%;
    margin: 0px;
}
.cart__footer button:not(:last-child){
    margin-right: 20px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}