{{> header}}
<div class="products__container welcome_box">
    <div class="login_header">
        <h2>Bienvenido {{user}}!</h2>
    </div>
    <div>
        <a class="boton boton_main" href="/api/productos-test" id="a-products">Ver productos</a>
        <a class="boton boton_salir" href="/logout" id="logout">Salir</a>
    </div>
</div>
<div class="products__container welcome_message">
    <div class="login_header">
        <h2>Info</h2>
    </div>
</div>
{{> footer}}