{{> header}}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="../../public/index.js" defer></script>

<div class="login__container margin__login">
    <h2>Ingresar</h2>
    <form class="form_logout" method="post" action="/login">
        <label title="email">Email</label>
        <input type="email" placeholder="Email" name="username" required autofocus/>
        <label title="password">Contraseña</label>
        <input type="password" placeholder="Contraseña" name="password" required/>
        <input class="button--detail" type="submit" value="Ingresar" />
    </form>
    <p>No tienes cuenta? Registrate!</p>
    <a class="anchor__login__button button--change" href="/signup">Ir a signup</a>
</div>
{{#if message}}
<p>{{message}}</p>
{{/if}}

{{> footer}}