{{> header}}

<div class="main__container">
    <div class="catalog__container">
        <div class="catalog__header">
            <h2>Hasta luego {{username}}!</h2>
        </div>
    </div>
</div>

<script>
    setTimeout(() => window.location.href = '/login', 2000)
</script>

{{> footer}}