{{> header}}
<div class="products__container welcome_box">
    <div class="login_header">
        <h2>Bienvenido {{user}}!</h2>
    </div>
    <div>
        <a class="boton boton_main" href="/api/productos-test" id="a-products">Ver productos</a>
        <a class="boton boton_salir" href="/logout" id="logout">Salir</a>
    </div>
</div>
<div class="products__container welcome_message">
    <div class="login_header">
        <h2>Generar números random - Fork</h2>
    </div>
    <div>
        <form class="form_fork" method="post" action="/api/randoms">
            <div class="chat__message__box">
                <input class="fork_number" type="number" name="quantity" id="quantity" placeholder="Cantidad" max="500000000" required>
                <input class="boton boton_main" type="submit" value="Enviar">
            </div>
        </form>
    </div>
</div>
{{> footer}}