{{> header}}

<div class="login__container">
  <h2>Registro</h2>
  <form {{!-- enctype="multipart/form-data" --}} class="form_logout" method="post" action="/signup">
    <label title="email">Email</label>
    <input type="email" placeholder="Email" name="username" required/>
    <label title="password">Contraseña</label>
    <input type="text" placeholder="Contraseña" name="password" required/>
    <input class="button--detail" type="submit" value="Registrarse" />
  </form>
  <p>Ya tienes una cuenta? Logueate!</p>
  <a class="anchor__login__button button--change" href="/login">Ir a login</a>
</div>
</body>
{{#if message}}
<p>{{message}}</p>
{{/if}}

{{> footer}}