.catalog__container{
    margin: 50px 15%;

    .catalog__header{
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .form__header__container{
            form{
                display: flex;
                align-items: flex-end;

                button{
                    width: 100px;
                    height: 30px;
                }

                input[type=number]{
                    margin-right: 10px;
                    width: 130px;
                    height: 30px;
                    font-family: $font-text;
                    font-size: 1rem;
                }
            }
        }
    }

    button{
        margin-top: 10px;
        width: 100%;
        padding: 5px 0px;
        font-family: $font-text;
        font-size: 1rem;
        border-radius: 5px;
    }

    .button--detail{
        color: $light-color;
        background-color: $white;
        border: 1px solid $light-color;
    
        &:hover{
            color: $white;
            background-color: $light-color;
            border: 1px solid $light-color;
            cursor: pointer;
        }
    }

    h2{
        font-size: 2.5rem;
        font-family: $font-title;
    }

    .catalog{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        gap: 5%;

        .product{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px 5px;
            border: 1px solid $disable-color;
            border-radius: 5px;
            animation: fadeIn 3s;

            &:hover{
                box-shadow: 0px 0px 20px 0px;
            }

            img{
                min-height: 200px;
                min-width: 200px;
            }

            .product__name__container{
                width: 100%;
                margin-bottom: 10px;
                min-height: 45px;
                font-size: 1.2rem;
                text-align: left;
            }

            .product__price__container{
                width: 100%;
                text-align: left;
                font-size: 1.2rem;
                color: $standout-dark-color;
            }

            .admin__controls__container{
                width: 100%;
                margin-top: 5px;
                display: flex;
                justify-content: space-between;

                button{
                    margin-top: 0px;
                    width: 48%;
                }

                .button--edit{
                    color: $ok-color;
                    background-color: $white;
                    border: 1px solid $ok-color;

                    &:hover{
                        color: $white;
                        background-color: $ok-color;
                        cursor: pointer;
                    }
    
                }

                .button--delete{
                    color: $danger-color;
                    background-color: $white;
                    border: 1px solid $danger-color;

                    &:hover{
                        color: $white;
                        background-color: $danger-color;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    @keyframes fadeIn {
        0%{ opacity: 0; }
        100% { opacity: 1; }
    }
}

.products__message{
    margin: 50px 15%;
    font-size: 2.5rem;
    font-family: $font-title;
}