$font-title: 'Bebas Neue', cursive;
$font-text: 'Rubik', sans-serif;

$first-color: #0B2B40;
$light-color: #30A5BF;
$second-color: #185359;
$standout-color: #F2BE22;
$standout-dark-color: #A6874E;
$disable-color: #97A6A0;
$danger-color: #F23030;
$ok-color: #03A64A;
$black: #000000;
$white: #FFFFFF;

